.game, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-image: url('/images/back1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: block;
}

@font-face {
    font-family: 'Super Mario';
    src: url('path/to/super-mario-font.ttf') format('truetype');
}


.backPlay {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #b78fc6; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; 
}
.backPlay:hover {
    background-color: #1c0d26; 
}